<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codereader">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_dhis"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PatientsFound"></activity>
        <activity
            android:name=".LostBooklet"
            android:label="Lost Health Passport"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NewBooklet"
            android:label="New Health Passport"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PrintQRCode"
            android:label="@string/printCode"
            android:parentActivityName=".AddNewPatient" />
        <activity
            android:name=".AddNewPatient"
            android:label="@string/add_new_pat"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ART"
            android:label="@string/art"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChildProgram"
            android:label="@string/child_program"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TB"
            android:label="@string/tb_program"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataHandlerActivity"
            android:label="@string/patient_information"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityQRStripped"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>